<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static  "styles/Producto.css"%}'>
        <title>Productos - Sistema Inventario</title>
    </head>
    <body>
        {% include 'header.html' %}

        <div class="body-productos">
            <div class="gestion-produc">
                <h2>Gestión de Productos</h2><br>
                <div class="card-gestion-prod">
                    <div class="card-body">
                        <form  method="POST">
                            <div class="dentro-form">
                                {{form.as_div}}
                                {% csrf_token %}
                            </div>
                            
                            <button type="submit" class="boton-form">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>