<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static  "styles/Configuracion.css"%}'>
        <title>Inicio - Sistema Inventario</title>
    </head>
    <body>
        {% include 'header.html' %}

        <div class="menu-home">
            
            <div class="card">
                <a href="#">
                    <img class="img-card" src="{% static 'img/perfil.png' %}"><br>
                    Usuarios
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img class="img-card" src="{% static 'img/empresa.png' %}"><br>
                    Otros
                </a>
            </div>
            
        </div>
    </body>
</html>