        {% load static %}
        <a href="../inicio"><strong>Inicio</strong></a>
        <hr>
        <header>
            <img src="{% static 'img/Logo.png' %}" class="img-logo img">
            <h1>Sistema Inventario</h1>
            <a href="#">
                <img src="{% static 'img/info.png' %}" class="img-logo img">
                Informacion
            </a>
            <a href="../..">
                <img src="{% static 'img/salir.png' %}" class="img-logo img">
                Salir
            </a>
        </header>
        
        <div class="divusuario">
            <hr>
            <p class="usuario">Usuario: Administrador</p>
        </div>