<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static  "styles/Inicio.css"%}'>
        <title>Inicio - Sistema Inventario</title>
    </head>
    <body>
        {% include 'header.html' %}

        <div class="menu-home">
            
            <div class="card">
                <a href="#">
                    <img class="img-card" src="{% static 'img/Salida.png' %}"><br>
                    Salidas
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img class="img-card" src="{% static 'img/Entrada.png' %}"><br>
                    Entradas
                </a>
            </div>
            <div class="card">
                <a href="../productos">
                    <img class="img-card" src="{% static 'img/Productos.png' %}"><br>
                    Productos
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img class="img-card" src="{% static 'img/reportes.png' %}"><br>
                    Reportes
                </a>
            </div>
            <div class="card cinco">
                <a href="../proveedores">
                    <img class="img-card " src="{% static 'img/Proveedores.png' %}"><br>
                    Proveedores
                </a>
            </div>
            <div class="card seis">
                <a href="#">
                    <img class="img-card" src="{% static 'img/Inventario.png' %}"><br>
                    Inventario
                </a>
            </div>
            <div class="card siete">
                <a href="#">
                    <img class="img-card" src="{% static 'img/configuraciones.png' %}"><br>
                    Configuración
                </a>
            </div>
        </div>
    </body>
</html>