<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='{% static  "styles/Producto.css"%}'>
        <title>Productos - Sistema Inventario</title>
    </head>
    <body>
        {% include 'header.html' %}

        <div class="body-productos">
           
            <div class="datagrid">
                <h1>Listado de Productos</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Categoria</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prod in productos %}
                            <tr>
                                <td>{{prod.codigoProducto}}</td>
                                <td>{{prod.nombre}}</td>
                                <td>{{prod.categoria_categoriaId}}</td>
                                <td><a href="/actualizarProducto/{{ prod.codigoProducto }}" >Editar</a></td>
                                <td><a href="/eliminarProducto/{{ prod.codigoProducto }}">Eliminar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="boton-form">
                        <a href="../addproducto" >Añadir Producto</a>
                    </div>
                    
                        
            </div>
        </div>
    </body>
</html>